  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/454c2ed9-5cc2-484f-8449-167203bd7623/d9x282e-26298d26-e14e-4dab-90a2-f055f1f24f0e.jpg/v1/fill/w_1095,h_730,q_70,strp/replacement_for_the_stars_by_yuumei_d9x282e-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzQ1NGMyZWQ5LTVjYzItNDg0Zi04NDQ5LTE2NzIwM2JkNzYyM1wvZDl4MjgyZS0yNjI5OGQyNi1lMTRlLTRkYWItOTBhMi1mMDU1ZjFmMjRmMGUuanBnIiwid2lkdGgiOiI8PTE1MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.BOQV0S8ikoBPQoFQGwM0N-_01qA-t_RdXSFzBDl81J4);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 30%;
    background-color: rgba(255,2552,255, .1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,2552,255, .2);
}


.login-form {
    margin: 10px 80px;
    padding: 50px 0;
}


.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
}

.img-social {
    width: 75%;
    transition: .2s;
}

.img-social:hover {
    transform: scale(1.4);
}



#google {
    background-color: white;
    border-radius: 50%;
}



.login-username {
    margin-bottom: 15px;
    
}
h1 {
    font-size: 2rem;
    font-weight: 450;
    cursor: default;
    margin-bottom: 40px;
}
label {
    font-size: 0.8rem;
    font-weight: 100;
    display: block;
    margin: auto;
    text-align: left;
}

input {
    color: white;
    display: block;
    margin: auto;
    padding: 10px 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(255,2552,255, .2);
    outline: none;
    background: none;
    padding-left: 25px; 
}

.btn-login {
    color: white;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(218,216,22,1) 100%);
    border-radius: 20px;
    border: none;
    margin: 45px auto 20px;
    transition: .3s;
}

.btn-login:hover {
    transform: scale(1.05);
}

.forgot-password {
    color: rgba(255,2552,255, 0.7);
    font-size: 0.8rem;
    font-weight: 300;
    display: block;
    position: absolute;
    right: 80px;
    margin-top: 7px;
    transition: .1s;
}
.forgot-password:hover {
    text-decoration: none;
}


input::placeholder {
    font-size: 0.8rem;
    font-weight: 100;
    color: rgba(255,2552,255, .5);
}



.user-logo {
    width: 4%;
    position: absolute;
    left: 80px;
    top: 180px;

}

.user-password {
    width: 5%;
    position: absolute;
    left: 80px;
    top: 245px;
}
p {
    font-size: 0.8rem;
    font-weight: 200;
    text-transform: capitalize;
    margin: 10px auto 15px;
}


